language: python
install:
- pip install -r requirements.txt
- pip install .
script: make test
deploy:
  provider: pypi
  on:
    tags: true
  skip_existing: true
  user: "__token__"
  password:
    secure: oCdtHSHoTTrLWB7l1fQUPXFCrnBHS8QAGLXAmT9Tj5xZchy7P11pslF/lVOP1Ct091R6tymj7zNbs3eCQRiwDK8+CoDXH83jgcqgbzkKxfbwCuBVjIKwRrXGCqfOZ/0xcwW8bqZjKOGa/ijjQcA3ddNdRQcb9DolTtPPsdygUfsi3pYvwQVLE4YTMCAEVdDbEdulvk5EgW9gPuFpx2lC6TzZGX88ygtv3zhzG2GoiPD5f6uV2kIkXxTdYW0IBLXwqAjQiK5mY9AphZxgWpxD2wHGG0xN7R+Xi1spdfx6OVmohjEPHMh/8zdplrgfzJzeuMtKVEHcZvGA5dlOn/i/KmsioAEvoa1stQbMz9hKtSLTMSayW0rujz01D4+NKIgEVzFTAkc4OjTEXNns7HQzaBl6E1SWvXaIqL8r7EpFS+srNfYlTq0UB6uz+tXVBwO3u3dUfOrde+SfZ2WMfwhabQXl0ANVDlYRNNf6OkLXeArcsqLDHhMfSYhkI+u5SIkUlpBW8eQTX5TyQaCw51RDEcwmc2GT6+kJ7TN5J2vBJqvs99t2Oz8kKL/luRmi6unTb4ZB+392QkMichSIkGkDa9b6nkRxm0JqS8uMJCc51Y+nd2DJlpFkYLmEqnbn2s4PWY+TxAQ8oGFuqQkFfA6VVcl4o+eqVGK86Pw288XIpHQ=
